<div class="content">
    <img src="{{meme.url}}" alt=""/>
    <h3>Title  {{meme.title}}</h3>
    <p> {{meme.description}}</p>
    <button><a href="{{meme.url}}" download="{{meme.title}}.jpg" >Download Meme</a></button>
</div>