<hr>
{{#each tweets}}
<a href="/tweet/details/{{_id}}">
    <p>Message: {{message}}</p>
</a>
    Tags:
        {{#each tags}}
            <p><i class="fas fa-arrow-right"></i><a href="/tag/{{this}}">{{this}}</a></p>
        {{else}}
        <p>No available tags.</p>
        {{/each}}
    <p>Date: {{date}}</p>
    <p>Views: {{viewsCount}}</p>
    <span>Likes: {{likesCount}}</span>
    {{#if ../currentUser}}
        {{#if isLiked}}
        <a href="/tweet/dislike/{{_id}}"><i class="fas fa-thumbs-down"></i></a>
        {{else}}
        <a href="/tweet/like/{{_id}}"><i class="fas fa-thumbs-up"></i></a>
        {{/if}}
    {{/if}}
    {{#if ../isAdmin}}
    <div>
        <a href="/tweet/edit/{{_id}}"><button>Edit</button></a>
        <a href="/tweet/delete/{{_id}}"><button>Delete</button></a>
    </div>
    {{/if}}
<hr>
{{else}}
<p>No available tweets.</p>
{{/each}}