<h1>Edit a car</h1>
<form method="post" action="/cars/edit/{{_id}}">
    <input name="make" placeholder="enter make" value="{{make}}"/>
    <input name="model" placeholder="enter model" value="{{model}}" />
    <input name="imageUrl" placeholder="enter image url" value="{{imageUrl}}" />
    <input name="color", placeholder="enter color (optional)" value="{{color}}" />
    <input id="submit" type="submit" value="EDIT" />
</form>