<h1>Rent a car</h1>
<form method="post" action="/cars/rent/{{_id}}">
    <img src="{{imageUrl}}" alt="car-image" width="350" height="250">
    <h3>Model: {{model}}</h3>
    <h3>Make: {{make}}</h3>
    <h3>Color: {{color}}</h3>
    <input id="submit" type="submit" value="RENT" />
</form>